numpy>=1.15
regex
allennlp==0.9.0    # >= 2.70 doesn't support Py3.6 anymore
git+git://github.com/gruentee/fever-scorer.git
git+git://github.com/gruentee/fever-allennlp-reader.git@allennlp-0.9.0
fever-drqa
